/*
MEYER Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

/*
MEYER Reset Done
*/
body {
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 243, 243);
    color: rgb(0, 0, 0);
}

.content{
    display: flex;
    flex-direction: row;

}
.left_column{
    width: 40vw;
}

.right_column{
    width: 60vw;
    
}
.zero{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 0%,0%;
    transform: scaleX(-1);
    margin: 0;
}

.quote{

    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    margin: 8vh;
    margin-top: 15vh;
    text-align: left;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    margin-left: 8vh;
    margin-bottom: 8vh;
    font-size: 1.5rem;
    width: 40vw;
}

button {
    width: 25vw;
    height: 8vh;
    margin-top: 1vh;
    align-self: center;
    background-color:#801313; 
    border-radius: 30vh;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    cursor: pointer;

    transition: .2s;
}

button:hover {
    transform: scale(1.05);

}

form{
    margin: 0;
    width: 60vw;
    height: 42vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20vh;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 5vh;
    width: 25vw;
}

fieldset{
    display: flex;
    gap: 20px;
    justify-content: center;
    

}
label{

    font-weight: 700;
    font-family: "Roboto", Geneva, Tahoma, sans-serif;
}



.banner{
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 20vh;
    

}
.logo{
    width: 10vw;
    transform: scaleX(-1);
}

.black_knights{
    width: 70%;

    color: white;
    font-size: 9vh;
    font-family: 'Secular One', sans-serif;
}

.group{
    display: flex;
    flex-direction: column;
    row-gap: -100vh;
}